./src/heart.csv

src/__pycache__/



EDA_timeseries/dataset/
EDA_timeseries/__pycache__/
EDA_timeseries/.ipynb_checkpoints
EDA-NON_Timeseries/__pycache__/
EDA-NON_Timeseries/src/heart.csv
EDA-NON_Timeseries/src/.ipynb_checkpoints
EDA-NON_Timeseries/src

.ipynb_checkpoints